/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Bootstrap Icons */

@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

/* Bootstrap */

$theme-colors: (
  "cl-white": #ffffff,
  "cl-cyan": #00ccd2,
  "cl-blue": #0c82fd,
  "cl-azure": #0d80ff,
  "cl-azure-2": #0090ff,
  "cl-indigo": #243465,
  "cl-aero-blue": #c8f5da,
  "cl-black": #0c1c27,
  "cl-black-2": #000000de,
  "cl-black-3": #00000099,
  "cl-black-4": #000000B3,
  "cl-gray": #b6bbbe,
  "cl-anitque-white": #ffead9,
  "cl-princeton-orange": #fd8729,
  "cl-brigth-gray": #ebebeb,
  "cl-dark-silver": #707070,
  "cl-auroMetal": #6d777d,
  "cl-azureish-white": #e0e7eb,
  "cl-light-gray": #d3d3d3,
  "cl-bright-gray": #e7f6ed,
  "cl-silverSand": #c2c2c2,
  "cl-cultured": #f8f8f8,
  "cl-cultured-2": #f7f7f7,
  "cl-cultured-3": #f5f5f5,
  "cl-cultured-4": #f4f4f4,
  "cl-philippine-silver": #B1B1B1,
  "cl-philippine-gray": #929292,
  "cl-american-silver": #D0D0D0DE,
  "cl-american-orange": #FF870E,
  "cl-chinese-white": #E0E0E0,
  "cl-arsenic": #3f425499,
  "cl-dark-jungle-green":#0C1C27B3,
  "cl-arsenic-2": #3f4254,
  "cl-red": #cb0000,
  "cl-pale-pink": #ffd8da,
  "cl-venetian-red": #c90813,
  "cl-heliotrope": #db5aee,
  "cl-boston-red": #cb00001a,
  "cl-green": #14a54d,
  "cl-forest-green": #4c9e70,
  "cl-light-green": #14a54d1a,
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

/* Font Size */

@for $i from 0 through 50 {
  .fz-#{$i} {
    font-size: calc(#{$i} * 0.063rem);
  }
}

@media only screen and (max-width: 1500px) {
  @for $i from 0 through 50 {
    .fz-#{$i} {
      font-size: calc((#{$i} * 0.063rem) - 10%);
    }
  }
}

/* Font-family */
.ff-roboto {
  font-family: "Roboto";
}

.br-11 {
  border-radius: 11px;
}

.br-5 {
  border-radius: 5px;
}

.br-6 {
  border-radius: 5px;
}

.border-princeton-orange {
  border: 1px solid #fd8729;
}

.border-venetian-red {
  border: 1px solid #c90813;
}

.border-silver-sand {
  border: 1px solid #C2C2C2 !important;
}

.border-auro-metal {
  border: 1px solid #6d777d;
}

.border-forest-green {
  border: 1px solid #4c9e70;
}

.border-chinese-white{
  border: 1px solid #E0E0E0;
}

.text-decoration-underline {
  text-decoration: underline;
}

.list-body-border {
  border-top: 1px solid #e0e0e0;
}

.modal-content {
  border-radius: 10px;
}

/* Custom */
html,
body,
#root {
  height: 100%;
  background-color: #ffffff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

iframe {
  display: none !important;
}

.bg-gradient-cyan-blue {
  background: transparent linear-gradient(270deg, #00ccd2 0%, #0c82fd 100%) 0%
    0% no-repeat padding-box;
}

.bg-gradient-cyan-blue:hover,
.bg-gradient-cyan-blue:focus {
  background: transparent linear-gradient(90deg, #0d80ff 0%, #0055cb 100%) 0% 0%
    no-repeat padding-box;
}

.btn-cl-red:hover {
  background-color: #b70606;
}

.bg-img-login {
  background-image: url("../img/login-img.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.input-line {
  border: 0px;
  border-bottom: 1px solid #c2c2c2;
  border-radius: 0px;
  margin: 0 0 16px 0;
  padding: 8px 0;
}

.MuiPaper-root{
  width: 40%;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -9px) scale(0.75) !important; 
  background-color: white;
}

.form-select-inline {
  border: 0px;
  border-bottom: 1px solid #c2c2c2;
  border-radius: 0px;
  margin: 0 0 16px 0;
  padding: 8px 16px;
  option:hover {
    background-color: #0d80ff;
    color: white;
  }
}

.dropDownHover{
  cursor: pointer;
}

.dropDownHover:hover{
  background-color: #0D80FF;
}

.dropDownHover p{
  margin: 0;
  padding: 0;
}

.dropDownHover:hover > p{
 
  color: white;
}

.input-line::placeholder,
.input-line::-ms-input-placeholder,
.input-line:-ms-input-placeholder {
  color: #6d777d;
  opacity: 1;
}

.btn-eye {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #c2c2c2;
  margin: 0 0 16px 0;
  padding: 8px;
}

.input-line:focus,
.eye-component:focus-within .password,
.eye-component:focus-within button {
  border: 0;
  border-bottom: 1px solid red;
  box-shadow: none;
}

.check-box > label > span > div {
  width: 24px !important;
  height: 24px !important;
}

.t-decoration-none {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.rotate-icon {
  transform: rotate(45deg);
}

// donut chart
.apexcharts-canvas {
  min-width: 100%;
}

.carousel {
  .carousel-control-prev-icon {
    background-image: url("../img/carrosel-prev.png");
    height: 40px;
    width: 40px;
  }
  .carousel-control-next-icon {
    background-image: url("../img/carrosel-next.png");
    height: 40px;
    width: 40px;
  }
  .carousel-indicators {
    bottom: -10%;
    margin-top: 12px;
    .active {
      background-color: #0d80ff;
      border: 1px solid #0d80ff;
    }
    button {
      background-color: #fff;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 1px solid #c2c2c2;
      opacity: 1;
    }
  }
}

.conversation-scroll {
  overflow: scroll;
  overflow-x: hidden;
}

.notification-scroll {
  max-height: 225px;
  // overflow: scroll;
  overflow-x: hidden;
}

/* Track */
.conversation-scroll::-webkit-scrollbar-track, .MuiPaper-root::-webkit-scrollbar-track ,.notification-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.conversation-scroll::-webkit-scrollbar-thumb, .notification-scroll::-webkit-scrollbar-thumb {
  background: #829ab1;
}

.MuiPaper-root::-webkit-scrollbar-thumb{
  background: #9E9E9E;
}

/* Handle on hover */
.conversation-scroll::-webkit-scrollbar-thumb:hover, .MuiPaper-root::-webkit-scrollbar-thumb:hover , .notification-scroll::-webkit-scrollbar-thumb:hover {
  background: #829ab1;
}

/* width */
.notification-scroll::-webkit-scrollbar, .MuiPaper-root::-webkit-scrollbar {
  width: 8px;
}
.conversation-scroll::-webkit-scrollbar {
  width: 5px;
}

.page-container {
  padding-inline: 25px;
}

.mb-16{
  margin-bottom: 16px;
}

.cell-list:hover {
  cursor: pointer;
  background-color: #0d80ff !important;
  color: white;
  .link {
    color: white;
  }
  i {
    color: white;
  }
}

.cell-list {
  color: #0c1c27;
  .link {
    color: #0d80ff;
  }
  i {
    color: #0c1c27;
  }
}

.button-white-black {
  background-color: white;
  border: 1px solid #6d777d;
  border-radius: 6px;
  color: #6d777d;
}

.button-white-black:hover {
  background-color: #0d80ff;
  border: 1px solid #0d80ff;
  color: white;
}

.hover-cultured-3:hover {
  background-color: #f5f5f5;
}

.filter-itens {
  overflow-y: auto;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: inherit;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #6d777d;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #6d777d;
  }
  .dropdown-item:hover {
    background-color: #0d80ff;
    color: white;
  }
}

/* ---------------- Sidebar ---------------- */
#sidebar {
  display: flex;
  max-width: 244px;
  // width: 224px;
  min-width: 244px;
  z-index: 1;
  margin-left: 0;
  transform: none;
  overflow: hidden;
  transition: all 0.6s;
  transform-origin: center left;

  .logo {
    margin: 44px 0 48px 0;
    height: 38px;
  }
  .list-items {
    padding-left: 16px;
    .item {
      display: flex;
      align-items: center;
      padding: 16px 0 16px 26px;
      margin-bottom: 16px;
      cursor: pointer;
      .description {
        color: #fff;
      }
    }
    .active {
      border-radius: 30px 0px 0px 30px;
      background-color: white;
      .description {
        color: #0c1c27;
      }
    }
  }
}

.padding-32 {
  padding: 32px;
}

.input-search {
  border: 1px solid #6d777d;
  border-radius: 0.25rem;
}

.input-search-chat {
  border: 1px solid #e0e7eb;
  border-radius: 0.25rem;
}

.item-img {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.dropdown-menu {
  .input-search {
    border: 1px solid transparent;
  }
  .input-dropdown:focus,
  .input-group:focus-within .input-group-text {
    border: 0;
    border-bottom: 1px solid #0d80ff !important;
    border-radius: 0;
    box-shadow: 0;
  }
}

.form-control,
button,
.form-select {
  box-shadow: none !important;
}

.dropdown-toggle::after {
  display: none;
}

.a-button {
  text-decoration: underline;
  color: #0d80ff;
  background-color: transparent;
  border: 1px solid transparent;
}

.a-button:hover {
  color: #0a58ca;
}

.dropdown-toggle[aria-expanded="true"] > .arrow,
.dropdown-toggle[aria-expanded="true"] > i {
  transform: rotate(180deg);
}

@media (max-width: 992px) {
  #sidebar[aria-expanded="false"] {
    margin-left: -244px;
    transform: rotateY(100deg);
  }
  #sidebar .list-items {
    padding-left: 10px;
  }
  .page-container {
    padding-inline: 0px;
  }
  .list-body-border {
    border-top: 1px solid transparent;
  }
  .carousel {
    .carousel-indicators {
      bottom: -15%;
    }
  }
  .MuiPaper-root{
    width: 80%;
  }
}

.wrapper {
  perspective: 1500px;
}

/* ---------------- Dashboard ---------------- */
.c-pointer {
  cursor: pointer;
}

.card {
  background-color: white;
  border: 1px solid #d9e1e7cc !important;
  border-radius: 16px !important;

  .title,
  .value {
    margin-bottom: 8px;
  }

  .green {
    background-color: #14a54d1a;
    color: #14a54d;
  }
  .red {
    background-color: #cb00001a;
    color: #cb0000;
  }
  .tabs {
    button {
      background-color: transparent;
      border: 0px solid transparent;
    }
    .inactive {
      color: #c2c2c2;
      padding-bottom: 5px;
    }
    .active {
      color: #0d80ff;
      border-bottom: 2px solid #0d80ff;
    }
    .list {
      border-top: 1px solid #e0e7eb;
      max-height: 393px;
      min-height: 393px;
      overflow: auto;
    }
  }
  .category {
    .list {
      max-height: 465px;
      min-height: 465px;
      overflow: auto;
    }
  }
  .rating {
    .logo {
      width: 48px;
      height: 48px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
    }
    .list {
      max-height: 465px;
      min-height: 465px;
      overflow: auto;
    }
  }
}

/* Store */
.list-body {
  border: 1px solid #e0e0e0;
  border-radius: 16px;
}
